/* ========================================
   LAYOUT - CUTE STRIPED BACKGROUND
   ======================================== */

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.background-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Cute Striped Pastel Background */
  background: repeating-linear-gradient(
    90deg,
    #e3f2fd 0px,
    #e3f2fd 40px,
    #fff 40px,
    #fff 80px,
    #fce4ec 80px,
    #fce4ec 120px,
    #fff 120px,
    #fff 160px
  );
  z-index: -1;
  opacity: 1; 
}

.main-content {
  flex: 1;
  position: relative;
  z-index: 1;
}
