/* ========================================
   LAYOUT - TILED BACKGROUND
======================================== */

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.background-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/background/background.png');
  background-size: auto; /* Giữ nguyên kích thước gốc */
  background-position: top left;
  background-repeat: repeat; /* Lặp lại pattern */
  z-index: -1;
  opacity: 0.95;
}

.main-content {
  flex: 1;
  position: relative;
  z-index: 1;
}
